@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">For more information about the company, please click the button.</p>
    <p><a href="https://www.nacres.com.tr/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

